.tulisan{
    font-family: "Gama Serif", Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.4;
    font-weight: bold;
color: #333333;
background: #FFFFFF;
text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
color: #333333;
background: #FFFFFF;
}
}